* {
    margin: 0;
    padding: 0;
    background-color: #30045c;
    font-family: 'Montserrat', sans-serif;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 280px;
}
.title{
    margin-top: 50px;
    font-size: 100px;
    color: white;
} 
.subtitle{
    font-size: 400;
    font-size: 30px;
    color: white;
} 
section{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 450px;

}
.article{
    position: relative;
    margin: 10px 5px;
    text-align: center;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}
.head1{
    margin: 20px 5px 0px 5px;
    color: #30045c;
    font-weight: 900;
    font-size: 40px;
    background-color: white;
}
.head2{
    margin: 5px 5px 0px 5px;
    color: #30045c;
    font-weight: 900;
    font-size: 40px;
    background-color: white;
}

.separator{
    margin: 15px auto 30px auto;
    width: 70%;
    height: 1px;
    background-color: #30045c;
}

.content{
    margin: 20px auto;
    color: rgb(49, 48, 48);
    font-size: 30px;
    background-color: white;
}

.button{
    position: absolute;
    content: "";
    bottom: -40px;
    left: 50px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background: #084cac;
}

span{
    background-color:#004AAD;
    margin: 20px auto;
    color: white;
    font-size: 30px;
    }